<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="dist/run.cjs" verb="*" modules="iisnode" />
        </handlers>

        <rewrite>
            <rules>
                <rule name="api">
                    <match url="/*" />
                    <action type="Rewrite" url="dist/run.cjs" />
                </rule>
            </rules>
        </rewrite>
        <directoryBrowse enabled="false" />
        <iisnode nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" />
        <defaultDocument>
            <files>
                <add value="dist/run.cjs" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>